* {
    font-family: 'Work Sans', sans-serif;
}

/* style for header */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    height: auto;
    width: auto;
    background-image: url('images/banner/banner3.png');
    background-color:#005FAC;;
    background-size: content;
    text-align: right;

}

.header h1 {
    color: #FFFFFF;
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    margin: 216px 230px 24px;
}

.header p {
    color: #FFFFFF;
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 230px 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0px 230px 166px;
}



/* style for failure section */

.failure-previous {
    display: flex;
    width: 1070px;
    height: 720px;
    margin: 130px 265px;
}

.failure-list {
    width: 416px;
    height: 400px;
    text-align: left;
    margin: 240px 0px 20px 90px;
}

.failure-list h2 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-list p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.failure-list ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style-image: url('images/checked.png');
}



/* style for my plan section */

.my-plan {
    align-self: center;
}

.plan-head {
    text-align: center;
}

.plan-container {
    display: flex;
    margin: 50px 230px 130px 230px;
    justify-content: space-between;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 24px 0px 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


/* style for image overlay */

.positive-mind {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 130px 230px;
    border-radius: 8px;
    background-image: url(images/gradient1.png), url(images/watch.png);
}

.before-footer {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 64px;
    margin-top: 60px;
    width: 500px;

}

.btn-secondary {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 64px;
    margin-bottom: 60px;
}

/* style for footer */

.footer {
    background: #151414;
    color: #FFFFFF;
    display: flex;
    padding: 130px 230px;
    gap: 330px;
}


.footer-left-side h2 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
}

.anomaly {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
}

.footer-left-side a {
    color: #FFFFFF;
    text-decoration: none;

}

.social {
    display: flex;
    gap: 18px;
    margin-top: 32px;
}

.footer-right-side {
    display: flex;
    flex-direction: column;
}

.footer-right-side h3 {
    font-weight: 600;
    font-size: 25px;
}

.email-input {
    width: 324px;
    height: 64px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 16px;
}

.email-input::placeholder {
    color: #F3F3F3;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-footer {
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: 0;
    border-radius: 5px;
    background-color: #005FAC;
}